.auth-container {
    padding: 0;
    margin : 100px auto;
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.tabs {
    display: flex;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: #eaeaea;
    transition: background-color 0.3s;
}

.tab.active {
    background-color: #ff6347;
    color: white;
}

.form-container {
    padding: 20px;
    display: none;
}

.form-container.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    color: black;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

button {
    background-color: #ff6347;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e5533d;
}

.alt-option {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.alt-option a {
    color: #ff6347;
    text-decoration: none;
    font-weight: bold;
}