.slider-container {
    width: 100%;
    margin: auto;
    max-width: 100%;
}

.slide {
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 20px;
}

.slider-title {
    color: rgb(47, 47, 47);
    font-size: 15px;
    padding-top: 30px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.slider-title::before,
.slider-title::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: rgb(47, 47, 47);
    margin: 0 10px;
}

.slider-image {
    justify-content: center;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.food-image:hover {
    transform: scale(1.1);
}

.food-name {
    color: rgb(255 241 217);
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SlideOut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .slider-image{
        width: 150px;
        height: 150px;
    }

    .SlideOut{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .slide{
        width: 200px !important;
        height: 200px !important;
        padding: 20px;
        text-align: center;
    }
    .food-name {
        font-size: 16px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }

    .food-image {
        max-width: auto;
    }
}

@media (max-width: 480px) {
    .food-name {
        font-size: 18px;
        justify-content: center;
    }

    .food-image {
        width: 250px;
        height: 250px;
        
        justify-content: center;
    }
    .slider-container{
        justify-content: center;
    }
   
    .slide {
        width: 200px !important;
        height: 200px !important;
        text-align: center;
        flex: 0 0 auto; 
        justify-content: center;
        padding: 20px;
        align-items: center;
    }
}