.slider-container {
    width: 95%;
    margin: auto;
    gap: 30px;
}

.slide {
    text-align: center;
    padding: 20px;
}

.food-image {
    width: 200px;
    height: 200px;
    /* margin: 20px; */
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.food-image:hover {
    transform: scale(1.1);
}

.food-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}