.home-container {
    min-height: 600px; 
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -100px;
}