.auth-container {
    width: 400px;
    margin: 30vh auto;
    padding: 30px;
    padding-right: 40px;
    background: #fff9f6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}

.tabs {
    display: flex;
    border: 1px solid rgb(161, 161, 161);
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background: #fff9f6;
}

.tab.active {
    background: #e76f51;
    color: white;
    font-weight: bold;
}

.login-container {
    margin-top: 20px;
    background-color: #fff9f6;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    height: 20px;
    background-color: white;
    width: 100%;
}

label{
    font-weight: 600;
    color: rgb(74, 74, 74);
}

.button {
    margin-top: 15px;
    padding: 10px;
    background: #e76f51;
    color: white;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.alt-option {
    margin-top: 10px;
    text-align: center;
}

.alt-option button {
    background: none;
    border: none;
    color: #e76f51;
    cursor: pointer;
    font-weight: bold;
}

.pass-icon{
    margin-left: -33px;
    margin-top: 15px;
    width: 20px;
}

.password{
    display: flex;
}